.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
}

.links {
    color: #E5E7EB;
    align-items: flex-end;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}