.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
}

.links {
    color: #E5E7EB;
    align-items: flex-end;
    font-size: 18px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.three {
    background-color: #E5E7EB;
}

.main-text {
    display: flex;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.image {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    height: 72px;
}