.body {
    display: flex;
    flex-direction: column;
}
 
.logo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.links {
    display: flex;
    font-size: 18px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 12px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.section.one {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    padding: 0px 300px;
}

.item {
    flex: 1 0 50%; /* The 50% of the items are on each line */
}
.main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 8px 24px;
    font-weight: bold;
    font-size: 12px;
}

img {
    display: flex;
    height: auto;
    width: 350px;
    color: white;
    background-color: gray;
}

.logo,
.links {
    padding-bottom: 20px;
}


.three {
    background-color: #E5E7EB;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    height: 72px;
}